.header {
    height: 50px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;

    background-color: black;
}

.menu a {
    text-decoration: none;
    color: white;
}

.header button {
    font-size: 18px;
    padding: 0px;
    border: 0;
    background-color: black;
    color: white;
    cursor: pointer;
}

